<div class="project_header">
  <%= link_to "#{project.username} / #{project.name}", "/#{project.username}/#{project.name}", class: "project_title" %>
  <% severities = project.severity_counts %>
  <ul class="severities">
    <li class="severity_fatal hint--top" data-hint="Fatal"><%= severities[:fatal] || 0 %></li>
    <li class="severity_error hint--top" data-hint="Error"><%= severities[:error] || 0 %></li>
    <li class="severity_warning hint--top" data-hint="Warning"><%= severities[:warning] || 0 %></li>
    <li class="severity_convention hint--top" data-hint="Convention"><%= severities[:convention] || 0 %></li>
    <li class="severity_refactor hint--top" data-hint="Refactor"><%= severities[:refactor] || 0 %></li>
  </ul>
</div>
<p class="project_description"><%= project.description %></p>
