<% content_for(:html_title) { @project_details.full_name } %>
<% content_for(:meta_description) { [@project_details.full_name, @project_details.project.description].compact.join(' - ') } %>
<div class="project-details">
  <% cache ['project_header', @project_details.cache_key] do %>
    <h2 class="project-details-title">
      <%= link_to @project_details.username, "https://github.com/#{@project_details.username}" , target: '_blank'%> / <%= link_to @project_details.name, "https://github.com/#{@project_details.username}/#{@project_details.name}", target: '_blank' %>
      <% if @project_details.has_todo? %>
        <span title="This project contains a .rubocop_todo.yml file" class="todo-badge">todo</span>
      <% end %>
    </h2>
    <p class="project-details-description"><%= @project_details.project.description %></p>
    <ul class="github-stats">
      <% %w(stars forks open_issues subscribers).each do |stat| %>
      <li class="github-stat">
        <div class="github-stat-count">
          <%= number_to_human(@project_details.send(stat.to_sym), precision: 0) %>
        </div>
        <div class="github-stat-type"><%= stat.humanize%> </div>
      </li>
      <% end %>
    </ul>

    <% if @project_details.project.large? %>
      <div class="friendly-warning">This is a <strong>large</strong> project. There may
        be good reasons they keep the code as it is. <br> Make sure you read the
        project's contribution guidelines (look for a "README" or
        "CONTRIBUTING.md") before submitting a pull request! <%= link_to "Try another project.", random_path %></div>
    <% end %>
  <% end %>

  <% unless @project_details.project.linted? %>
    <div class="friendly-warning">This project is freshly added, we don't have any results yet.</div>
  <% end %>

  <% if @project_details.project.rubocop_running? %>
    <div class="friendly-warning">We have dispatched the cops on this project, hang on, results will be here soon!</div>
  <% end %>

  <% if @project_details.project.linted? && @project_details.project.rubocop_offenses_count == 0%>
    <div class="friendly-warning">RuboCop has not detected any offenses in the Ruby sources of this project, awesome!<br/>If you want to contribute to open source projects, try another <a href="/random">random project</a>.</div>
  <% else %>

    <% cache ['project_offenses', @project_details.cache_key, params.fetch(:severity, 'no_severity'), params.fetch(:page, 1)] do %>

      <% if %w(error fatal convention refactor warning).include?(params[:severity]) %>
        <div class="offense_filter severity_<%= params[:severity] %>">
          Filtered by <%= params[:severity].humanize %>.
          <%= link_to "×", params.merge(severity: '') %>
        </div>
      <% end %>

      <ul class="offenses">
        <% @project_details.offenses.each do |offense| %>
          <li class="offense">
            <div class="offense-severity offense-severity-<%= offense.severity %>">
              <%= offense.severity %>
            </div>
            <div class="offense-message">
              <%= offense.message %>
            </div>
            <div class="offense-affected-file">
              <%= link_to offense.source_file.path + ":" + offense.location_line.to_s, offense.github_link, target: "_blank" %>
            </div>
            <div class="snippet">
              <%= raw offense.to_html %>
            </div>
          </li>
        <% end %>
      </ul>

      <%= paginate @project_details.offenses, :window => 2 %>
    <% end %>
  <% end %>
</div>

<div class="sidebar">
  <%= link_to "I'm feeling lucky", "/random", class: "sidebar-feeling-lucky" %>

  <% cache ['project_stats', @project_details.cache_key] do %>
  <div class="offenses-stats-wrapper">
    <h3><%= @project_details.total_offense_count %> offenses</h3>
    <ul class="offenses-stats">
      <% @project_details.offense_count_per_severity.each do |name, count| %>
        <li class="offenses-stat">
          <div class="severity-count severity-count-<%= name %>"> <%= number_to_human count, precision: 0 %> </div>
          <div class="severity-type severity-type-<%= name %>">
            <%= link_to name, params.merge(severity: name, page: 1) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

    <% if @project_details.project.last_index_run_time %>
      <div class="execution-time">
        Our cops processed this project's <strong>
        <%= @project_details.source_files_count %> Ruby files</strong> in
        <strong><%= @project_details.project.last_index_run_time %> seconds</strong>
        <%= time_ago_in_words(@project_details.project.rubocop_last_run_at) %> ago.
        <%= link_to "Run them again.", send_cops_project_path(@project_details.project) %>
      </div>
    <% end %>

    <% if @project_details.project.linted? && @project_details.project.rubocop_offenses_count > 0%>
    <div class="disappointed-cops-wrapper">
      <h3>Disappointed cops</h3>
      <ul class="disappointed-cops">
        <% @project_details.offense_count_per_cop_name.each do |name, count| %>
          <li class="disappointed-cop">
            <div class="disappointed-cop-count"> <%= number_to_human count, precision: 0 %> </div>
            <div class="disappointed-cop-type"> <%= name %> </div>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>
  <section class="project-discovery">
    <%= form_tag "/about/welcome", method: "get" do %>
      <div class="search">
        <%= text_field_tag(:query, nil, placeholder: "Looking for a specific repo?", class: "search-field") %>
        <input type="submit" class="search-button">
      </div>
    <% end %>
    <h2>Not sure what project to work on?</h2>
    <a href="/random" class="feeling-lucky">I’m feeling lucky</a>
  </section>
</div>
