<section class="project_details">
  <% cache ['project_header', @project_details.cache_key] do %>
    <h2><%= link_to @project_details.username, "https://github.com/#{@project_details.username}" , target: '_blank'%> / <%= link_to @project_details.name, "https://github.com/#{@project_details.username}/#{@project_details.name}", target: '_blank' %></h2>
    <p>
    <%= @project_details.project.description %>
    </p>
    <div class="github_stats">
      <% %w(stars forks open_issues subscribers).each do |stat| %>
        <div class="stat_count">
          <%= number_to_human(@project_details.send(stat.to_sym), precision: 0) %>
        </div>
        <div class="stat_type"><%= stat.humanize%> </div>
      <% end %>
    </div>

    <% if @project_details.project.large? %>
      <div class="friendly">This is a <strong>large</strong> project. There may
        be good reasons they keep the code as it is. <br> Make sure you read the
        project's contribution guidelines (look for a "README" or
        "CONTRIBUTING.md") before submitting a pull request! <%= link_to "Try another project.", random_path %></div>
    <% end %>
  <% end %>

  <% unless @project_details.project.linted? %>
    <div class="friendly">This project is freshly added, we don't have any results yet.</div>
  <% end %>

  <% if @project_details.project.rubocop_running? %>
    <div class="friendly">We have dispatched the cops on this project, hang on, results will be here soon!</div>
  <% end %>

  <% if @project_details.project.linted? && @project_details.project.rubocop_offenses_count == 0%>
    <div class="friendly">RuboCop has not detected any offenses in the Ruby sources of this project, awesome!<br/>If you want to contribute to open source projects, try another <a href="/random">random project</a>.</div>
  <% else %>

    <% cache ['project_offenses', @project_details.cache_key, params.fetch(:severity, 'no_severity'), params.fetch(:page, 1)] do %>

      <% if %w(error fatal convention refactor warning).include?(params[:severity]) %>
        <div class="offense_filter severity_<%= params[:severity] %>">
          Filtered by <%= params[:severity].humanize %>.
          <%= link_to "×", params.merge(severity: '') %>
        </div>
      <% end %>

      <ul>
        <% @project_details.offenses.each do |offense| %>
          <li>
            <div class="offense_bullet severity_<%= offense.severity %>">&nbsp;</div>
            <div class="offense">
              <div class="offense_type offense_type_<%= offense.severity %>">
                <%= offense.severity %>
              </div>
              <div class="offense_message">
                <%= offense.message %>
              </div>
              <div class="filename">
                <%= link_to offense.source_file.path + ":" + offense.location_line.to_s, offense.github_link, target: "_blank" %>
              </div>
              <div class="snippet">
                <%= raw offense.to_html %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>

      <%= paginate @project_details.offenses, :window => 2 %>
    <% end %>

  <% end %>

</section>
<aside class="sidebar">
  <a href="/random" class="im_feeling_lucky">I’m feeling lucky</a>
  <% cache ['project_stats', @project_details.cache_key] do %>
    <h3><%= @project_details.total_offense_count %> offenses</h3>
    <ul class="offenses">
      <% @project_details.offense_count_per_severity.each do |name, count| %>
        <li>
          <div class="severity_count severity_<%= name %>"> <%= number_to_human count, precision: 0 %> </div>
          <div class="severity_type offense_type_<%= name %>">
            <%= link_to name, params.merge(severity: name, page: 1) %>
          </div>
        </li>
      <% end %>
    </ul>

    <% if @project_details.project.last_index_run_time %>
      <div class="friendly">
        Our cops processed this project's <strong><%= @project_details.source_files_count %> Ruby files</strong> in
        <strong><%= @project_details.project.last_index_run_time %> seconds</strong>
        <%= time_ago_in_words(@project_details.project.rubocop_last_run_at) %> ago.
      </div>
    <% end %>

    <% if @project_details.project.linted? && @project_details.project.rubocop_offenses_count > 0%>
      <h3>Disappointed cops</h3>
      <ul class="disappointed_cops">
        <% @project_details.offense_count_per_cop_name.each do |name, count| %>
          <li>
            <div class="severity_count"> <%= number_to_human count, precision: 0 %> </div>
            <div class="severity_type"> <%= name %> </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</aside>
