<section class="wrapper">
<br>
  <h2>
    <%= link_to @project_details.username, "https://github.com/#{@project_details.username}" , target: '_blank'%>
    /
    <%= link_to @project_details.name, "https://github.com/#{@project_details.username}/#{@project_details.name}", target: '_blank' %>
  </h2>

  <p><%= @project_details.project.description %> <%= page_entries_info @project_details.offenses %></p>
  <p><%= paginate @project_details.offenses %></p>

  <ul>
    <% @project_details.offenses.each do |offense| %>
      <li>
        <div class="offense">
          <div class="offense_message">
            <%= offense.message %>
          </div>
          <div class="offense_type offense_type_<%= offense.severity %>">
            <%= offense.severity %>
          </div>
          <div class="filename">
            <%= link_to offense.source_file.path + ":" + offense.location_line.to_s, offense.github_link, target: "_blank" %>
          </div>
          <div class="snippet">
            <%= raw offense.to_html %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div>
    <h3><%= @project_details.total_offense_count %> offenses</h3>

    <h3>Severity levels</h3>
    <ul>
      <% @project_details.offense_count_per_severity.each do |name, count| %>
        <li>
          <div class="severity_type"> <%= name %> </div>
          <div class="severity_count"> <%= count %> </div>
        </li>
      <% end %>
    </ul>

    <h3>Disappointed cops</h3>
    <ul>
      <% @project_details.offense_count_per_cop_name.each do |name, count| %>
        <li>
          <div class="severity_type"> <%= name %> </div>
          <div class="severity_count"> <%= count %> </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>
