<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RefactorCop</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript"></script>
  </head>
  <body class="secondary">

    <header>
      <div class="wrapper">
        <h1 class="logo"><a href="/">RefactorCop</a></h1>
        <div class="search">
          <%= form_tag "/about/welcome", method: "get" do %>
            <input name="query" type="text" placeholder="Find repo" class="search_repo">
            <input type="submit" class="search_button">
          <% end %>
        </div>
      </div>
    </header>

    <main class="wrapper">
      <section class="project_details">
        <h2><%= link_to @project_details.username, "https://github.com/#{@project_details.username}" , target: '_blank'%> / <%= link_to @project_details.name, "https://github.com/#{@project_details.username}/#{@project_details.name}", target: '_blank' %></h2>
        <p>
					<%= @project_details.project.description %>
				</p>
				<div class="github_stats">
	        <% %w(stars forks open_issues subscribers).each do |stat| %>
		          <div class="stat_count">
		            <%= number_to_human(@project_details.send(stat.to_sym), precision: 0) %>
							</div>
		          <div class="stat_type"><%= stat.humanize%> </div>
					<% end %>
				</div>

        <% unless @project_details.project.linted? %>
          <div class="friendly">This project is freshly added, we don't have any results yet.</div>
        <% end %>

        <% if @project_details.project.rubocop_running? %>
          <div class="friendly">We have dispatched the cops on this project, hang on, results will be here soon!</div>
        <% end %>

        <ul>
          <% @project_details.offenses.each do |offense| %>
            <li>
              <div class="offense_bullet severity_<%= offense.severity %>">&nbsp;</div>
              <div class="offense">
                <div class="offense_type offense_type_<%= offense.severity %>">
                  <%= offense.severity %>
                </div>
                <div class="offense_message">
                  <%= offense.message %>
                </div>
                <div class="filename">
                  <%= link_to offense.source_file.path + ":" + offense.location_line.to_s, offense.github_link, target: "_blank" %>
                </div>
                <div class="snippet">
                  <%= raw offense.to_html %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <%= paginate @project_details.offenses, :window => 2 %>
      </section>
      <aside class="sidebar">
        <a href="/random" class="im_feeling_lucky">I’m feeling lucky</a>
        <h3><%= @project_details.total_offense_count %> offenses</h3>
        <ul class="offenses">
          <% @project_details.offense_count_per_severity.each do |name, count| %>
            <li>
              <div class="severity_count severity_<%= name %>"> <%= number_to_human count, precision: 0 %> </div>
              <div class="severity_type offense_type_<%= name %>"> <%= name %> </div>
            </li>
          <% end %>
        </ul>
        <h3>Disappointed cops</h3>
        <ul class="disappointed_cops">
          <% @project_details.offense_count_per_cop_name.each do |name, count| %>
            <li>
              <div class="severity_count"> <%= number_to_human count, precision: 0 %> </div>
              <div class="severity_type"> <%= name %> </div>
            </li>
          <% end %>
        </ul>
        <% if @project_details.project.last_index_run_time %>
          <h3>Refactorcop</h3>
          <ul class="disappointed_cops">
            <li>
              Our cops processed <%= @project_details.source_files_count %> files in <%= @project_details.project.last_index_run_time %> seconds <%= time_ago_in_words(@project_details.project.rubocop_last_run_at) %> ago.</li>

          </ul>
        <% end %>
      </aside>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
