<section class="wrapper">
<br>
  <h2>
    <%= link_to @project.username, "https://github.com/#{@project.username}" , target: '_blank'%>
    /
    <%= link_to @name, "https://github.com/#{@project.username}/#{@project.name}", target: '_blank' %>
  </h2>

	<p><%= @project.description %> <%= page_entries_info @offenses %></p>

	<p><%= paginate @offenses %></p>

  <ul>
    <% @offenses.each do |offense| %>
      <li>
        <br><!-- TODO: remove -->
        <div class="offense">
          <div class="offence_type">
            <%= offense.message %>
          </div>
          <div class="offense_type_<%= offense.severity %>">
            <%= offense.severity %>
          </div>
          <div class="filename">
            <%= link_to offense.source_file.path, offense.github_link, target: "_blank" %>
          </div>
          <div class="snippet">
            <%= raw offense.to_html %>
          </div>
        </div>
        <br><!-- TODO: remove -->
      </li>
    <% end %>
  </ul>
	
	<div>
		<h3><%= @total_count %> offenses</h3>
	
		<h3>Severity levels</h3>
		<ul>
			<% @severity_count.each do |severity, count| %>
				<li>
					<div class="severity_type">
						<%= severity %>
					</div>
					<div class="severity_count">
						<%= count %>
					</div>
				</li>
			<% end %>
		</ul>
	
		<h3>Disappointed cops</h3>
		<ul>
			<% @copname_count.each do |copname, count| %>
				<li>
					<div class="severity_type">
						<%= copname %>
					</div>
					<div class="severity_count">
						<%= count %>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
	
</section>
