<p>RefactorCop helps Ruby developers discover interesting GitHub projects that need help, based on the RuboCop static code analyzer.</p>

<%= form_tag do -%>
	<%= text_field_tag( :query ) %>
<%- end -%>

<a href="/<%=@random_project.username%>/<%=@random_project.name%>"><button>I'm feeling lucky!</button></a>

<h2>Trending repositories</h2>

<ul>
	<% Project.all.each do |project| %>
		<li>
			<h3><%= link_to "#{project.username} / #{project.name}", "/#{project.username}/#{project.name}" %></h3>
			<p><%= project.description %></p>
		</li>
	<% end %>
</ul>
