<% if !@dashboard.search? %>
  <section class="project_lists wrapper">
    <div class="trending">
      <h2>Trending repositories</h2>

      <ul>
        <% @dashboard.trending.each do |project| %>
          <li class="project">
            <%= render 'projects/summary', project: project %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="recommended">
      <h2>Recommended repositories</h2>

      <ul>
        <% @dashboard.recommended.each do |project| %>
          <li class="project">
            <%= render 'projects/summary', project: project %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
<% else %>
  <section class="project_lists wrapper">
    <div class="trending">
      <h2>Repos containing '<%= @dashboard.query %>'</h2>
      <ul>
        <% @dashboard.search_results.each do |project| %>
          <li class="project">
            <%= render 'projects/summary', project: project %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= paginate @dashboard.search_results %>
  </section>

  <% if @dashboard.search_results.empty? %>
    <section class="wrapper">
      <br>
      <p>No repositories found!</p>
      <%= render 'viewer/import_from_github_form' %>
    </section>
  <% end %>
<% end %>
