<section class="project_lists wrapper">
  <div class="trending">
    <% if @query.nil? %>
      <h2>Trending repositories</h2>
    <% else %>
      <h2>Repositories containing '<%= @query %>'</h2>
    <% end %>

    <ul>
      <% @projects.each do |project| %>
        <li class="project">
          <div class="project_header">
            <%= link_to "#{project.username} / #{project.name}", "/#{project.username}/#{project.name}", class: "project_title" %>
            <% severities = project.severity_counts %>
            <ul class="severities">
              <li class="severity_fatal"><%= severities[ "fatal" ] or 0 %></li>
              <li class="severity_error"><%= severities[ "error" ] or 0 %></li>
              <li class="severity_warning"><%= severities[ "warning" ] or 0 %></li>
              <li class="severity_convention"><%= severities[ "convention" ] or 0 %></li>
              <li class="severity_refactor"><%= severities[ "refactor" ] or 0 %></li>
            </ul>
          </div>
          <p class="project_description"><%= project.description %></p>
        </li>
      <% end %>
    </ul>
  </div>
</section>
