<!DOCTYPE html>
<html>
  <head>
    <title>RefactorCop</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="home">
    <%= render 'layouts/google_analytics' if Rails.env.production? %>
    <div class="wrapper">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash_msg flash_#{name}", style: "line-height: 2" %>
      <% end %>
    </div>

    <%= render 'layouts/robo_header' %>
    <section class="thanks">
      <div class="wrapper ribbon">
        Thank you all for supporting us in the <a href="http://railsrumble.com/entries/winners" target="_blank">Rails Rumble 2014!</a>
      </div>
    </section>
    <%= yield %>

    <section class="why_open_source">
      <div class="wrapper">
        <h2>Why contribute to open source?</h2>
        <ul>
          <li>
            <h3>Experience</h3>
            <p>Practice makes perfect, as they say, and there’s no doubt about
            it. Developing open source projects gives you tons of opportunities
            to focus on what you find most interesting, or give you a break
            from your everyday job tasks.</p>
          </li>
          <li>
            <h3>Make your life easier</h3>
            <p>Of course, you’ll probably focus on a project that you’re also
            are in need of. Mixing work with pleasure, as they say, is not a
            bad idea.</p>
          </li>
          <li>
            <h3>Spread the joy</h3>
            <p>Your input could be used by thousands of people. Doesn’t that
            make you feel good? Either way, at least you learned something
            along the way and you’ll probably end up with some good contributor
            karma!</p>
          </li>
        </ul>
      </div>
    </section>

		<%= render 'layouts/footer' %>
		
  </body>
</html>
