<!DOCTYPE html>
<html>
  <head>
    <title>RefactorCop</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="home">
    <header>
      <div class="wrapper">
        <h1 class="logo"><%= link_to "RefactorCop", root_path %></h1>
        <p>Using <a href="https://github.com/bbatsov/rubocop">RuboCop</a>, RefactorCop analyses open source Ruby projects allowing you to discover code that might benefit from improvements.</p>

        <%= form_tag "/about/welcome", method: "get", class: "search" do %>
          <div class="search">
            <%= text_field_tag(:query, nil, placeholder: "Looking for a specific repo?", class: "search_repo") %>
            <input type="submit" class="search_button">
          </div>
        <% end %>
        <% if @random_project %>
          <h2>Not sure what project to work on?</h2>
          <a href="/<%=@random_project.username%>/<%=@random_project.name%>" class="im_feeling_lucky">I'm feeling lucky!</a>
        <% end %>
      </div>
    </header>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <section class="project_lists wrapper">
      <%= yield %>
    </section>

    <section class="why_open_source">
      <div class="wrapper">
        <h2>Why contribute to open source?</h2>
        <ul>
          <li>
            <h3>Experience</h3>
            <p>Practice makes perfect, as they say, and there’s no doubt about it. Developing open source projects gives you tons of opportunities to focus on what you find most interesting, or give you a break from your everyday job tasks.</p>
          </li>
          <li>
            <h3>Make your life easier</h3>
            <p>Of course, you’ll probably focus on a project that you’re also are in need of. Mixing work with pleasure, as they say, is not a bad idea.</p>
          </li>
          <li>
            <h3>Spread the joy</h3>
            <p>Maybe you’re new workaround / feature / bug fix will be used by thousands of people. Doesn’t that make you feel good? Either way, at least you learned something on the way and you’ll probably end up on a contributor lists.</p>
          </li>
        </ul>
      </div>
    </section>

    <footer class="footer">
      <div class="wrapper">
        Credits
      </div>
    </footer>

  </body>
</html>
